html {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(96, 96, 96);  /* BACKGROUND */
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 10%;

    background-color: rgb(170, 170, 170);

    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 5%;
}

header > nav {

    position: relative;
    width: 95%;
    height: 100%;
    left: 5%;

    display:flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10%;
}

#tiltedContainer {
    position: absolute;

    width: 40%;
    height: 100%;

    left: -36%;
}

#tiltedContainer > div {
    position: relative;
    z-index: 2;
/* 
    top: 0%;
    left: -85%; */

    width: 100%;
    height: 150%;
    top: -20%;
    background-color: lightblue;
    /* margin: 50px; For spacing */
    transform: rotate(10deg); /* Tilts the box by # degrees clockwise */
}

#intro {
    position: relative;
    width: 60%;
    height: 50%;
    left: 20%;

    display: flex;
}

#introContacts {
     position: relative;
    width: 70%;
    height: 60%;
    left: 20%;

    display: flex;
}
#introContacts > #IntroContent {
    display: flex; 
    flex-direction: column;

}

#introContacts > #IntroContent > div {
    background-color: lightblue;
        height: 50%;

}

#intro > div {
    width: 50%;
    height: 100%;
}

#introAboutMe {
    width: 90%;
    height: 50%;
}

#introAboutMe > #introContent {
    display: flex;
    /* gap: 1%; */
}

#introContent {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 5%;
}



#introServices {
    width: 90%;
    height: 50%;
}

.servicesDiv {
    width: 20%;
    height: 100%;

    background-color: rgb(147, 147, 147);
}

#wrapper {
    overflow: hidden;

    width: 100%;
    height: 700px;

    display:flex;
    justify-content: center;
    align-items: start;
    flex-wrap:wrap;
    /* gap: 5%; */
}

#wrapper2 {
    width: 91%;
    height: 100%;
    position: relative;
    left: 4.5%;


    display:flex;
    justify-content: center;
    align-items: start;
    flex-wrap:wrap;
    align-content: flex-start;
    flex-direction: column;
    gap: 15%;
}

#gmailSubmission {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

#message {
    resize: none;
    width: 100%;
    height: 100%;
}

#homePage {
    width: 100%;
    height: 100%;

    background-image: url(assets/placeholder.jpg);
    background-size: cover; /* Scales and crops to fill the container */
    background-position: center; /* Centers the visible part of the image */
    background-repeat: no-repeat;
}

.aboutMe {
    width: 22%;
    height: 45%;

    background-color: rgb(147, 147, 147);
}

.headerTextLeftSide {
    position: absolute;
    left: 2%;
    top: 0%;
    opacity: 30%;
}


.servicesImage {
    width: 20%;
    height: 20%;

    background-image: url(assets/placeholder.jpg);
    background-size: cover; /* Scales and crops to fill the container */
    background-position: center; /* Centers the visible part of the image */
    background-repeat: no-repeat;
}

.scaleToDevice {
 width: 100%;
 height: 100%;
}



.scaleToDevice2 {
 width: 20%;
 height: 20%;
}