html {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(96, 96, 96);  /* BACKGROUND */
}

header {
    width: 100%;
    height: 100%;

    background-color: rgb(170, 170, 170);

    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 5%;
}

header > nav {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 40%;
}
#tiltedContainer {
    position: absolute;

    width: 40%;
    height: 100%;

    left: -36%;
}

#tiltedContainer > div {
    position: relative;
    z-index: 2;
/* 
    top: 0%;
    left: -85%; */

    width: 100%;
    height: 150%;
    top: -20%;
    background-color: lightblue;
    /* margin: 50px; For spacing */
    transform: rotate(10deg); /* Tilts the box by # degrees clockwise */
}


#wrapper {
    width: 100%;
    height: 10%;

    display:flex;
    justify-content: center;
    align-items: start;
    flex-wrap:wrap;
    gap: 5%;
}

.headerTextLeftSide {
     position: absolute;
    left: 10px; /* Moves the element 10px from the left edge of the container */
}

.scaleToDevice {
 width: 20%;
 height: 20%;
}